h2 {
     color: blue 
    font-family: "Courier New Lucida Console" "Monospace"
    border: 2px aquamarine;
    }
div{
    border: width: 1px;
    border-style: solid;
    border-radius: 10px;

    box-shadow: 0px 5px 0px blue;

    background-color: lightgrey;
}  


